<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
    <key>CFBundleExecutable</key>
    <string>${EXECUTABLE_NAME}</string>
    <key>CFBundleIconFile</key>
    <string>Icon.icns</string>
    <key>CFBundleIdentifier</key>
    <string>com.uwyn.showmidi.plugin</string>
    <key>CFBundleName</key>
    <string>ShowMIDIPlugin</string>
    <key>CFBundleDisplayName</key>
    <string>ShowMIDIPlugin</string>
    <key>CFBundlePackageType</key>
    <string>BNDL</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleShortVersionString</key>
    <string>0.1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>NSHumanReadableCopyright</key>
    <string></string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>AudioComponents</key>
    <array>
      <dict>
        <key>name</key>
        <string>Uwyn: ShowMIDI</string>
        <key>description</key>
        <string>Visualize MIDI activity</string>
        <key>factoryFunction</key>
        <string>ShowMIDIPluginAUFactory</string>
        <key>manufacturer</key>
        <string>Uwyn</string>
        <key>type</key>
        <string>aumi</string>
        <key>subtype</key>
        <string>shmi</string>
        <key>version</key>
        <integer>256</integer>
        <key>sandboxSafe</key>
        <true/>
      </dict>
    </array>
  </dict>
</plist>
