Builds/*/build
Builds/MacOSX/showmidi.xcodeproj/xcuserdata
Builds/MacOSX/showmidi.xcodeproj/project.xcworkspace/xcuserdata
Builds/VisualStudio2022/.vs/
Builds/VisualStudio2022/x64/
Builds/VisualStudio2022/ShowMIDI_App.vcxproj.user
Builds/iOS/ShowMIDI.xcodeproj/project.xcworkspace/xcuserdata
Builds/iOS/ShowMIDI.xcodeproj/xcuserdata
