[submodule "libs/clap-juce-extensions"]
	path = libs/clap-juce-extensions
	url = git@github.com:free-audio/clap-juce-extensions.git
[submodule "JUCE"]
	path = JUCE
	url = git@github.com:juce-framework/JUCE.git
