<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>ShowMIDI</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>com.uwyn.showmidi.showmidiAUv3</string>
	<key>CFBundleName</key>
	<string>ShowMIDI</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>17</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>AudioComponents</key>
			<array>
				<dict>
					<key>description</key>
					<string>Visualize MIDI activity</string>
					<key>factoryFunction</key>
					<string>ShowMIDIAUFactoryAUv3</string>
					<key>manufacturer</key>
					<string>Uwyn</string>
					<key>name</key>
					<string>Uwyn: ShowMIDI</string>
					<key>sandboxSafe</key>
					<true/>
					<key>subtype</key>
					<string>shmi</string>
					<key>tags</key>
					<array>
						<string>Effects</string>
						<string>size:{296, 600}</string>
						<string>MIDI</string>
					</array>
					<key>type</key>
					<string>aumi</string>
					<key>version</key>
					<integer>65536</integer>
				</dict>
			</array>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.AudioUnit-UI</string>
		<key>NSExtensionPrincipalClass</key>
		<string>ShowMIDIAUFactoryAUv3</string>
	</dict>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>©2023 Uwyn LLC</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UISupportsDocumentBrowser</key>
	<true/>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
